.sidebar{
  h2{
    background-color:$theme_color;
    color:#FFF;
    margin:0 0 11px 0;
    padding:0 6px;
    height:25px;
    line-height:28px;
    font-size:1.25rem;
    text-transform:uppercase;
    font-family:$font_family_other;
    a{
      transition-duration:$duration_transition;
    }
    a:hover{
      opacity:0.8;
      color:inherit;
    }
  }
  h2.small{
    text-transform:none;
  }
  nav.sidebar-navigation{
    ul{
      margin:0;
      padding:0;
      list-style:none;
      li{
        font-size:0.75rem;
        color:$theme_color;
        font-family:$font_family_other;
        margin:0 0 11px 0;
        a{
          display:block;
          font-family:$font_family_title;
          font-size:1rem;
          line-height:25px;
          font-weight:bold;
          border-bottom:3px solid $header_top_border;
          position:relative;
          padding:5px 0 5px 0;
          transition-duration:$duration_transition;
        }
        a:hover{
          color:$header_link_hover_color;
        }
        a:after{
          display:block;
          width:11px;
          height:3px;
          background-color:$theme_color;
          content:'';
          position:absolute;
          left:0;
          bottom:-3px;
        }
        ul{
          margin:0;
          padding:0;
          li{
            margin:0;
            a{
              font-family:$font_family_other;
              font-size:0.875rem;
              font-weight:normal;
              border:none;
              padding:0;
              line-height:1.2;
            }
            a:after{
              display:none;
            }
            a:hover{
              color:$header_link_color;
            }
          }
          li:first-child{
            margin-top:10px;
          }
        }
      }
      li.active{
        a{
          color:$font_color_default;
        }
      }
    }
  }
}