// Default
$body_front_background:#FFFFFF; // Couleur du background pour le front office
$body_admin_background:#f3faff; // Couleur du background pour l'administration
$duration_transition:0.3s; // Durée des transitions des liens
$theme_color:#324D5C; // Couleur principal du thème
$theme_second_color:#F0CA4D;
$container_size:1200px; // Taille du container principal

// Typography
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,600,600i,700,700i|Crimson+Text:400,600,700|Lobster+Two:400,700');
$font_family_default: 'Archivo Narrow', sans-serif;
$font_family_title: 'Lobster Two', sans-serif;
$font_family_other: "Crimson Text", sans-serif;
$font_size_default: 0.875rem;
$line_height_default: 1.2;
$font_color_default: #000;
$front_shadow_color:rgba(232, 232, 232, 1);
$category_color:#939598;
$product_color:#504f53;
$home_content_background:#e6e6e6;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #f03c69;

// Header
$header_top_background:#293f4b;
$header_top_color:#FFFFFF;
$header_top_border:#c8c8c8;
$header_bottom_background:$theme_color ;
$header_bottom_color:#FFF;
$header_link_background:$theme_color;
$header_link_color:#FFF;
$header_link_hover_background:$theme_second_color;
$header_link_hover_color:#111;
$header_submenu_background:#FFF;
$header_submenu_color:$theme_color;
$header_submenu_border:#c8c8c8;

// HeadTitle
$head_title_background:#869597;
$head_title_color:#000;

// SearchBar
$border_color:#e6e7e8;
$pagination_color:#a7a9ac;
$pagination_color_active:$theme_color;

// Formulaires
$input_height:28px;
$input_border:#bcbec0;
$input_color:#000;
$input_background:#e6e7e8;

// Footer
$footer_top_background:$header_top_background;
$footer_top_color:$header_top_color;
$footer_bottom_background:$theme_color ;
$footer_bottom_color:$header_bottom_color;

// Include the differents library
@import "../vendors/toastr/toastr";