.products-section .product-list .product-flash{
  padding:15px;
  background-color:#e6e7e8;
  margin:21px 0 21px 0;
  .product{
    .product-image{
      height:auto;
    }
  }
  .countdown{
    .count{
      display:inline-block;
      float:left;
      margin-left:6px;
      width:41px;
      text-align:center;
      font-family:$font_family_default;
      p{
        margin-bottom:5px;
      }
      span{
        display:block;
        width:41px;
        height:41px;
        line-height:41px;
        background:$product_color;
        color:#FFF;
        font-weight:bold;
        font-size:1.125rem;
        border-radius:3px;
      }
    }
    .count:first-child{
      margin-left:0;
    }
  }
  .product-categories {
    a{
      display:inline-block;
      text-transform:uppercase;
      color:$category_color;
      font-size:10px;
      font-family:$font_family_other;
      transition-duration:$duration_transition;
    }
    a:after{
      display:inline-block;
      content:'/'
    }
    a:last-child:after{
      display:none;
    }
    a:hover{
      text-decoration:underline;
    }
  }
  h3{
    font-family:$font_family_default;
    font-size:1.25rem;
    margin:0;
    a{
      transition-duration:$duration_transition;
    }
    a:hover{
      color:$theme_color;
    }
  }
  .product-summary{
  }
  .product-prices{
    color:$theme_color;
    font-size:2.125rem;
    font-weight:bold;
    padding:0.625rem 0;
    span{
      display:inline-block;
      text-decoration:line-through;
      font-size:1.25rem;
      font-weight:normal;
    }
  }
  .product-stock{
    font-size:0.75rem;
    font-weight:bold;
    color:$font_color_default;
  }
  .product-action{
    padding:10px 0 10px 0;
    a{
      display:inline-block;
      padding:10px;
      background-color:$theme_color;
      color:#FFF;
      text-align:center;
      svg{
        display:block;
        margin:0 auto 10px auto;
      }
    }
  }

}